main{
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
}

.flex{
    display: flex;
}

.header{
    justify-content: space-between;
}

.header__left{
    flex: 1;
    display: flex;
    align-items: center;
}

.header__right{
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header button {
    background-color: #e7564e;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.075rem;
}

#introduction{
    justify-content: space-between;
}

#information{
    justify-content: space-between;
}