body {
    background: aliceblue;
}

main {
    max-width: 768px;
    margin: 0 auto;
    padding: 16px;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.paragraph {
    font-size: 1.15rem;
    margin: 16px 0;
}

/* HEADER */

.header {
    justify-content: space-between;
}

.header__left {
    flex: 1;
    display: flex;
    align-items: center;
}

.header__right {
    flex: 3;
    display: flex;
    padding: 0 16px;
    justify-content: end;
    align-items: center;
}

.header__right h4 {
    margin: 0 8px;
}

.header button {
    background-color: #e7564e;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.075rem;
}

/* INTRODUCTION */

#introduction {
    justify-content: space-between;
    padding: 32px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 8px;
}

.introduction__right {
    position: relative;
}

.introduction__right:after {
    content: "";
    z-index: -1;
    width: 100%;
    height: 200px;
    border-radius: 10%;
    position: absolute;
    background: red;
    top: 50px;
    left: -20px;
    display: inline-block;
}

.introduction__right img {
    place-self: center;
}

#introduction p {
    font-size: 1.5rem;
    margin-bottom: 16px;
}

/* INFORMATION */
#information {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 8px;
}

.information__description {
    margin-top: 32px;
}

.information__left {
    position: relative;
}

.information__left:after {
    content: "";
    z-index: -1;
    width: 50%;
    height: 200px;
    border-radius: 10%;
    position: absolute;
    background: red;
    top: 50px;
    left: -20px;
    display: inline-block;
}

#experience {
    display: flex;
    flex-direction: column;
}

#experience h3.title {
    text-align: center;
}

.experience__content {
    margin-bottom: 16px;
}

.experience__content .date {
    margin-bottom: 8px;
}

.experience__content .job {
    font-weight: bold;
}